<h1>New Appointment</h1>

<%= render 'form' %>

<%= link_to 'Back', appointments_path %>

<h4> Remaining Appointments for today </h4>

<% @available_slots.each do |i| %>
<%=	i %>
<% end %>


<h4> Appointments booked for today </h4>

<% @booked_slots.each do |i| %>
<%=	i %>
<% end %>



